# German Credit Data Set

https://www.openml.org/search?type=data&sort=runs&status=active&id=31

## Data Dictionary

| Column Name              | Non-Null Count | Dtype   |
|--------------------------|----------------|---------|
| checking_status          | 1000 non-null  |  object |
| duration                 | 1000 non-null  |  float64|
| credit_history           | 1000 non-null  |  object |
| purpose                  | 1000 non-null  |  object |
| credit_amount            | 1000 non-null  |  float64|
| savings_status           | 1000 non-null  |  object |
| employment               | 1000 non-null  |  object |
| installment_commitment   | 1000 non-null  |  float64|
| personal_status          | 1000 non-null  |  object |
| other_parties            | 1000 non-null  |  object |
| residence_since          | 1000 non-null  |  float64|
| property_magnitude       | 1000 non-null  |  object |
| age                      | 1000 non-null  |  float64|
| other_payment_plans      | 1000 non-null  |  object |
| housing                  | 1000 non-null  |  object |
| existing_credits         | 1000 non-null  |  float64|
| job                      | 1000 non-null  |  object |
| num_dependents           | 1000 non-null  |  float64|
| own_telephone            | 1000 non-null  |  object |
| foreign_worker           | 1000 non-null  |  object |
| class                    | 1000 non-null  |  object |

The column `class` is the target variable.

## Exploratory Data Analysis

In [ ]:
import pandas as pd 
import scipy as sp
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.io import arff

In [22]:
# Environmental variables
DATA_PATH = "./data/dataset_31_credit-g.arff"
PLOT_PATH = "./plots/"
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
# Read data file
try:
    # Replace 'your_data.arff' with your file path
    arff_file_data, meta = arff.loadarff(DATA_PATH)
    df = pd.DataFrame(arff_file_data)

    # Decode byte strings to regular strings
    for col in df.columns:
        if df[col].dtype == 'object':
            try:
                df[col] = df[col].str.decode('utf-8')
            except AttributeError:
                pass

except ImportError:
    raise ImportError("scipy is required to read .arff files. Please install scipy and try again.") 

finally:
    print(f"Data loaded successfully. DataFrame shape: {df.shape[0]} rows and {df.shape[1]} columns.")

Data loaded successfully. DataFrame shape: 1000 rows and 21 columns.

In [12]:
# Peek at data
display(df.head(10))

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,4.0,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,2.0,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,3.0,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,4.0,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,4.0,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
5,no checking,36.0,existing paid,education,9055.0,no known savings,1<=X<4,2.0,male single,none,4.0,no known property,35.0,none,for free,1.0,unskilled resident,2.0,yes,yes,good
6,no checking,24.0,existing paid,furniture/equipment,2835.0,500<=X<1000,>=7,3.0,male single,none,4.0,life insurance,53.0,none,own,1.0,skilled,1.0,none,yes,good
7,0<=X<200,36.0,existing paid,used car,6948.0,<100,1<=X<4,2.0,male single,none,2.0,car,35.0,none,rent,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
8,no checking,12.0,existing paid,radio/tv,3059.0,>=1000,4<=X<7,2.0,male div/sep,none,4.0,real estate,61.0,none,own,1.0,unskilled resident,1.0,none,yes,good
9,0<=X<200,30.0,critical/other existing credit,new car,5234.0,<100,unemployed,4.0,male mar/wid,none,2.0,car,28.0,none,own,2.0,high qualif/self emp/mgmt,1.0,none,yes,bad

In [11]:
print(meta)

Dataset: german_credit
	checking_status's type is nominal, range is ('<0', '0<=X<200', '>=200', 'no checking')
	duration's type is numeric
	credit_history's type is nominal, range is ('no credits/all paid', 'all paid', 'existing paid', 'delayed previously', 'critical/other existing credit')
	purpose's type is nominal, range is ('new car', 'used car', 'furniture/equipment', 'radio/tv', 'domestic appliance', 'repairs', 'education', 'vacation', 'retraining', 'business', 'other')
	credit_amount's type is numeric
	savings_status's type is nominal, range is ('<100', '100<=X<500', '500<=X<1000', '>=1000', 'no known savings')
	employment's type is nominal, range is ('unemployed', '<1', '1<=X<4', '4<=X<7', '>=7')
	installment_commitment's type is numeric
	personal_status's type is nominal, range is ('male div/sep', 'female div/dep/mar', 'male single', 'male mar/wid', 'female single')
	other_parties's type is nominal, range is ('none', 'co applicant', 'guarantor')
	residence_since's type is numeric
	property_magnitude's type is nominal, range is ('real estate', 'life insurance', 'car', 'no known property')
	age's type is numeric
	other_payment_plans's type is nominal, range is ('bank', 'stores', 'none')
	housing's type is nominal, range is ('rent', 'own', 'for free')
	existing_credits's type is numeric
	job's type is nominal, range is ('unemp/unskilled non res', 'unskilled resident', 'skilled', 'high qualif/self emp/mgmt')
	num_dependents's type is numeric
	own_telephone's type is nominal, range is ('none', 'yes')
	foreign_worker's type is nominal, range is ('yes', 'no')
	class's type is nominal, range is ('good', 'bad')

In [13]:
# Checking dataset types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   float64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   float64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   float64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   float64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   float64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   float64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   float64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: float64(7), object(14)
memory usage: 164.2+ KB
None

In [14]:
# Checking for duplicates
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 0

In [15]:
# Identify columns with missing data
missing_counts = df.isnull().sum()
missing_percent = df.isnull().mean() * 100

if missing_counts.sum() > 0:
    # When there are missing values

    # Filter columns with missing values
    missing_columns = missing_counts[missing_counts > 0].index.tolist()

    # Display columns with missing values, their count, and percentage
    print("Columns with missing data:\n")
    for col in missing_columns:
        print(f"{col:<15} : {missing_counts[col]:>6,} missing ({missing_percent[col]:>5.2f}%)")
else:
    # When there are no missing values
    print('There are no missing values in the dataset.')

There are no missing values in the dataset.

In [18]:
# Checking statistical summary of numerical columns
display(df.describe(include=[np.number]))

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [20]:
# Checking categorical columns summary
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
display(df[categorical_cols].describe())

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker,class
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,4,5,10,5,5,4,3,4,3,3,4,2,2,2
top,no checking,existing paid,radio/tv,<100,1<=X<4,male single,none,car,none,own,skilled,none,yes,good
freq,394,530,280,603,339,548,907,332,814,713,630,596,963,700

In [21]:
# Get list of object-type columns
object_cols = df.select_dtypes(include=['object']).columns.tolist()

# Iterate through each object column and display value counts
for col in object_cols:
    print(f"--- Value counts for: {col} ---")
    print(df[col].value_counts())
    print()

--- Value counts for: checking_status ---
checking_status
no checking    394
<0             274
0<=X<200       269
>=200           63
Name: count, dtype: int64

--- Value counts for: credit_history ---
credit_history
existing paid                     530
critical/other existing credit    293
delayed previously                 88
all paid                           49
no credits/all paid                40
Name: count, dtype: int64

--- Value counts for: purpose ---
purpose
radio/tv               280
new car                234
furniture/equipment    181
used car               103
business                97
education               50
repairs                 22
domestic appliance      12
other                   12
retraining               9
Name: count, dtype: int64

--- Value counts for: savings_status ---
savings_status
<100                603
no known savings    183
100<=X<500          103
500<=X<1000          63
>=1000               48
Name: count, dtype: int64

--- Value counts for: employment ---
employment
1<=X<4        339
>=7           253
4<=X<7        174
<1            172
unemployed     62
Name: count, dtype: int64

--- Value counts for: personal_status ---
personal_status
male single           548
female div/dep/mar    310
male mar/wid           92
male div/sep           50
Name: count, dtype: int64

--- Value counts for: other_parties ---
other_parties
none            907
guarantor        52
co applicant     41
Name: count, dtype: int64

--- Value counts for: property_magnitude ---
property_magnitude
car                  332
real estate          282
life insurance       232
no known property    154
Name: count, dtype: int64

--- Value counts for: other_payment_plans ---
other_payment_plans
none      814
bank      139
stores     47
Name: count, dtype: int64

--- Value counts for: housing ---
housing
own         713
rent        179
for free    108
Name: count, dtype: int64

--- Value counts for: job ---
job
skilled                      630
unskilled resident           200
high qualif/self emp/mgmt    148
unemp/unskilled non res       22
Name: count, dtype: int64

--- Value counts for: own_telephone ---
own_telephone
none    596
yes     404
Name: count, dtype: int64

--- Value counts for: foreign_worker ---
foreign_worker
yes    963
no      37
Name: count, dtype: int64

--- Value counts for: class ---
class
good    700
bad     300
Name: count, dtype: int64

In [23]:
# Analysis of target column distribution
target_column = 'class'

### Checking target `label` column  # Set the aesthetic style of the plots
sns.set_style("darkgrid")

# Bar chart for price category with annotations
plt.figure(figsize=(8, 5))
count_plot = sns.countplot(x=target_column, data=df, palette='colorblind')
plt.title('Distribution of Good and Bad Credit (Target)')
plt.xlabel('Good/Bad Credit')
plt.ylabel('Count')
plt.xticks(rotation=45)

# Annotate the bars with the frequency count
for p in count_plot.patches:
    count_plot.annotate(format(p.get_height(), ',.0f'),
                        (p.get_x() + p.get_width() / 2., p.get_height()),
                        ha = 'center', va = 'center',
                        xytext = (0, 9),
                        textcoords = 'offset points')
plt.tight_layout()
plt.savefig(PLOT_PATH + 'barchart_label.png')
plt.show()

NameError: name 'sns' is not defined